{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Admin Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Incidents</h5>
                    <p class="card-text">View and manage all incidents</p>
                    <a href="{% url 'accounts:admin_incident_list' %}" class="btn btn-primary">View Incidents</a>
                </div>
            </div>
        </div>
        <!-- ... other dashboard cards ... -->
    </div>
</div>
{% endblock %}



